h1.title {
  color: #232323;
  letter-spacing: 1px;
}

span.first {
  color: #25b893;
}

.card {
  border: 2px solid rgba(0, 0, 0, 0.125) !important;
}

.img {
  width: 200px;
  height: 200px;
}

.card-content,
.form-content {
  padding: 20px;
  align-items: center;
}

.form-content {
  text-align: center;
}

.cb,
.button-login {
  width: 100%;
}

.button-login {
  border-color: #288f39;
  background-color: #288f39;
}

.button-login:hover,
.button-login:active,
.button-login:focus {
  border-color: #13551e !important;
  background-color: #13551e !important;
}

.cancel-area {
  width: 100%;
  text-align: center;
}

.button-cancel {
  border-color: #8f2828;
  background-color: #8f2828;
}

.button-cancel:hover,
.button-cancel:active,
.button-cancel:focus {
  border-color: #551313 !important;
  background-color: #551313 !important;
}
